section {
    /* border: .1rem solid blue; */
    display: flex;
    flex: 1;
}

.container {
    /* border: .1rem solid purple; */
    display: flex;
    flex: 1;
    padding: 1rem;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: left;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    align-items: flex-start;
}