@import url("cartao.css");
@import url("cabecalho.css");
@import url("corpo.css");
@import url("rodape.css");
@import url("menulateral.css");
@import url("responsividade.css");

* {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html {
    /*border .1rem green solid*/
}